html
  --primary-color #D47B3A
  --secondary-color #624541
  --background-color #242E2D
  --text-color #F4E5E3

  // Lifting Fog
  /*--is-light 1
  --primary-color #CC6B16
  --secondary-color #215B11
  --background-color #2C2C24
  --text-color #B5C0C4*/

  // Parfait Kisses
  /*--is-light 1
  --primary-color #DC7A26
  --secondary-color #60261A
  --background-color #151618
  --text-color #FFF6E5*/

  // Peanut Ice Cream
  /*--is-light 1
  --primary-color #F79453
  --secondary-color #593F3B
  --background-color #242E2D
  --text-color #F4E5E3*/

  // Transition to Fall
  /*--is-light 1
  --primary-color #FDA649
  --secondary-color #535E4B
  --background-color #31352E
  --text-color #947337*/

  // Cluster of Buildings
  /*--is-light 1
  --primary-color #BF572A
  --secondary-color #7E574E
  --background-color #222527
  --text-color #DCAD7D*/

  // Parked Bicycle
  /*--is-light 1
  --primary-color #FF6501
  --secondary-color #325359
  --background-color #343439
  --text-color #D2D0C5*/
