@require "utils/mixins"

.input-label
  color var(--text-color)
  font-size 18px
  line-height 20px
  font-stretch 105%
  font-weight 300

.input-field-text
  font-family inherit
  font-size 20px
  line-height 24px
  font-stretch 100%
  font-weight 300

.input-field
  padding 10px 14px
  color var(--text-color)
  border-radius 10px
  border 2px solid var(--secondary-color)
  transition border-color 0.3s ease-in-out
  background-color var(--background-color)

  &:focus
    outline none
    border-color var(--primary-color)

  &[data-valid=false]
    border-color var(--error-color)

  &::placeholder
    font-size 0.8em
    transform: translateY(-0.1em);
    color darken(var(--text-color), 0.7)

.error-hint
  color var(--error-color)
  font-size 12px
  line-height 14px
  font-weight 300
  text-align right
  opacity 0
  transition opacity 0.3s ease-in-out

  &[data-active=true]
    opacity 1
