@require "utils/mixins"

.audio-input-field
  display flex
  flex-direction column
  align-items center
  width 100%
  margin 0 0 30px 0

  &[data-valid=false]
    .label-inner-wrapper
      border-color var(--error-color)

    .audio-title
      color var(--error-color)

      .audio-tooltip-icon
        --icon-color var(--error-color)
        color var(--text-color)

  &.hovered
    .label-inner-wrapper
      border-color var(--primary-color)

  .label-inner-wrapper
    position relative
    width 100%
    height 200px
    display flex
    justify-content center
    align-items center
    border 3px dashed var(--text-color)
    border-radius 10px
    transition border-color 0.3s ease-in-out

  .audio-title
    margin 12px 0 0 0
    font-size 18px
    line-height 20px
    font-stretch 105%
    text-align center
    color var(--text-color)
    font-weight 300
    pointer-events none
    transition color 0.3s ease-in-out

    &.clickable
      pointer-events auto
      withAnimatedUnderline()

    .audio-tooltip-icon
      margin-left 7px
      --icon-color var(--text-color)
      color var(--secondary-color)
      white-space nowrap
      transition background-color 0.3s ease-in-out, color 0.3s ease-in-out

    .remove-audio-icon
      margin-left 7px
      --icon-color var(--text-color)
      pointer-events auto
      cursor pointer
      transform translateY(2px)

      &:hover
        svg
          fill var(--primary-color)

      svg
        fill var(--secondary-color)
        width 100%
        height 100%
        transition fill 0.3s ease-in-out
