@import "colors.styl"
@require "utils/screens"
@require "inputs"
@require "buttons"

html
  font-family system-ui

html
body
  margin 0
  height 100%
  background-color var(--background-color)

#app
  min-height 100%
  width 100%
  display flex
  justify-content center
  align-items center

  *
    box-sizing border-box

.form-root
  display flex
  width 100%
  max-width 450px

  +tablet()
    max-width 100%
    padding 60px

  +mobile()
    max-width 100%
    padding 20px

  .form-wrapper
    display flex
    flex-direction column
    width 100%

    .fields-wrapper
      display flex
      flex-direction column

      label
        @extend .input-label
        margin-bottom 8px

      input[type = "text"]
      input[type = "number"]
        @extend .input-field, .input-field-text
        margin-bottom 4px

      .error-hint
        margin-bottom 8px

    button
      @extend .primary-button
      margin-top 20px
