@require "inputs"
@require "utils/mixins"
@require "utils/math"

.password-field-root
  @extend .input-field-text
  position relative
  display flex
  margin-bottom 20px

  input
    @extend .input-field
    flex 1
    font inherit
    padding-right 2.6em
    margin-bottom 0

  .visibility-icon
    position absolute
    height 1.8em
    width 1.8em
    right 0.4em
    top calc((100% - 1.8em) / 2)
    fill none
    cursor pointer

    path
      stroke-width 1.5
      stroke var(--secondary-color)
      transition stroke 0.3s ease-in-out

    r = 3.5
    x0 = 12 - r * sqrt(2) / 2
    y0 = 12 - r * sqrt(2) / 2

    get-dx(a)
      return r * cos(a) - r * cos(135deg)

    get-dy(a)
      return r * sin(135deg) - r * sin(a)

    .eye-pupil-fixed
      d path(join(' ', 'M', x0, y0, 'a', r, r, 0, 1, 1, get-dx(314.9deg), get-dy(314.9deg)))

    .eye-pupil-rotating
      d path(join(' ', 'M', x0, y0, 'a', r, r, 0, 1, 0, get-dx(315.1deg), get-dy(315.1deg)))
      transform rotate(0deg)
      transform-origin 50% 50%
      transition transform 0.3s ease-in-out, stroke 0.3s ease-in-out

    .cross-line
      d path(join(' ', 'M', 4, 4, 'l', 0, 0))
      filter: drop-shadow(-1px 1px var(--background-color)) drop-shadow(1px -1px var(--background-color));
      transition d 0.4s ease-in-out, stroke 0.3s ease-in-out

    &:hover
      path
        stroke var(--primary-color)

    &:active
      path
        stroke darken(var(--primary-color), 0.25)

    &.showing
      .eye-pupil-rotating
        transform rotate(-180deg)

      .cross-line
        d path(join(' ', 'M', 4, 4, 'l', 16, 16))
